<% blocks.title=__('booking') %>
    <div class="wrapper">
        <div class="container">
            <h1 class="text-capitalize"><%= __('booking') %>s</h1>
        </div>
        <turboRender module="Bookings"/>
    </div>
