<% blocks.title=__('Users') %>
    <h1><%= __('User') %>sss</h1>
    <!-- <% users.forEach(function(user)  { %>
            <li>
                <%= user.username %>
                    <%= user.email %>
            </li>
            <% }); %> -->
