<form class="show">
	<div class="form-group">
		<h2> a test... </h2>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= test.name %>" name="name" type="text" class="form-control" disabled/>
	</div>

</div>
</div>
<a href="/test/edit/<%=test.id %>" class="btn btn-default">Edit</a> |
<a href="/test">Back to list</a>
</form>